{% extends 'blog_body.html.twig' %}

{% block posts %}
    {% if authorsArray is empty %}
        <p> Author not found!</p>
    {% else %}
        <ul>
            {% for author in authorsArray  %}
                <li>{{ author.getName() }}</a></li>
                <ul>
                    <li> Mail: {{ author.getMail() }}</li>
                    <li> Last post: {{ author.getLastPostDate().format('d-m-Y') }}</li>
                </ul>
                <p> </p>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


{% block authorList %}
    {% for author in allAuthorsArray  %}
        <li><a href="/blog/a/{{ author.getName() }}">{{ author.getName() }}</a></li>
    {%  endfor %}
    {#<li><a href="#">Skyler</a></li>
    <li><a href="#">Jesse</a></li>
    <li><a href="#">Mike</a></li>
    <li><a href="#">Holly</a></li>#}
{% endblock %}