{% extends 'blog_body.html.twig' %}

{% set maxPostsPerPage = 3 %}

{% block posts %}
    {% for entry in blog_entries  %}
        {% if loop.index0 < maxPostsPerPage %}
            <div class="blog-post">
                <h3>{{ entry.title }} <small>{{ entry.date.format('d-m-Y') }}</small></h3>
                <img class="thumbnail" src={{ entry.image }}>
                <p>{{ entry.body }}</p>
                <div class="callout">
                    <ul class="menu simple">
                        <li><a href="#"><p>{{ entry.author }}</p></a></li>
                        <li><a href="#">Comments: {{ random(1,10) }}</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block pagination %}
    {% for i in 0..cantArticles %}
        {% if (i%maxPostsPerPage) == 0 %}
            {% set auxPagIndex = loop.index0/maxPostsPerPage %}
            {% if auxPagIndex == 0 %}
                <li><a href="/blog/{{ auxPagIndex }}" >{{ auxPagIndex }}</a></li>
            {% else %}
                <li><a href="/blog/{{auxPagIndex}}" >{{ auxPagIndex }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{#<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
<li><a href="#" >2</a></li>
<li><a href="#" >3</a></li>
<li><a href="#" >4</a></li>
<li class="ellipsis"></li>
<li><a href="#" >12</a></li>
<li><a href="#" >13</a></li>#}